/* latin-ext */
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/staatliches/v13/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/staatliches/v13/HI_OiY8KO6hCsQSoAPmtMYebvpA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* The game */
.the-game-51bf96a2fc96 {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* Shrimp Game */
.shrimp-gam-51b48ee5bd91 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #B7FFD0;
  overflow: hidden;
  z-index: 0;
}

/* shop button */
.shop-butto-51c2ca7562b8 {
  position: absolute;
  left: 791px;
  top: 857px;
  width: 338px;
  height: 111px;
}

/* open shop */
.open-shop-51c1c273b1f9 {
  position: absolute;
  left: 78px;
  top: 33px;
  width: 182px;
  height: 58px;
}
.open-shop-51c1c273b1f9 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.open-shop-51c1c273b1f9 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.open-shop-51c1c273b1f9 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.open-shop-51c1c273b1f9 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(52, 0, 41, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 48px;
  text-rendering: geometricPrecision;
  caret-color: rgba(52, 0, 41, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-51c1af4bb5e5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 338px;
  height: 111px;
  background: #FFB7E5;
  border-radius: 30px;
  box-shadow: ;
}

/*  WEAPON:   NONE
HP:   10
 */
.weapon-51bf3aa27251 {
  position: absolute;
  left: 1254px;
  top: 857px;
  width: 261px;
  height: 173px;
}
.weapon-51bf3aa27251 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.weapon-51bf3aa27251 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.weapon-51bf3aa27251 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.weapon-51bf3aa27251 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(52, 0, 41, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 48px;
  text-rendering: geometricPrecision;
  caret-color: rgba(52, 0, 41, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
}
.weapon-51bf3aa27251 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.weapon-51bf3aa27251 .root-0-paragraph-set-0-paragraph-1-text-0 {
  color: rgba(52, 0, 41, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 48px;
  text-rendering: geometricPrecision;
  caret-color: rgba(52, 0, 41, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
}
.weapon-51bf3aa27251 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.weapon-51bf3aa27251 .root-0-paragraph-set-0-paragraph-2-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}

/* level:   1 
  XP:   0     */
.level-1-51be267a60a0 {
  position: absolute;
  left: 405px;
  top: 857px;
  width: 148px;
  height: 116px;
}
.level-1-51be267a60a0 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.level-1-51be267a60a0 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.level-1-51be267a60a0 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.level-1-51be267a60a0 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(52, 0, 41, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 48px;
  text-rendering: geometricPrecision;
  caret-color: rgba(52, 0, 41, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
}
.level-1-51be267a60a0 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.level-1-51be267a60a0 .root-0-paragraph-set-0-paragraph-1-text-0 {
  color: rgba(52, 0, 41, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 48px;
  text-rendering: geometricPrecision;
  caret-color: rgba(52, 0, 41, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
}

/* Board */
.board-51bbfed419af {
  position: absolute;
  left: 405px;
  top: 68px;
  width: 1110px;
  height: 756px;
  background: #782967;
  overflow: hidden;
  display: grid;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: stretch;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}


.grid-cell {
  border: 5px pink;
}